# <font color=red> COMMENT BIEN DOCUMENTER LE CODE D'UNE FONCTION DANS PYTHON ?

***Par [Josué AFOUDA](https://www.linkedin.com/in/josu%C3%A9-afouda-2b5837173/)***

* **Les codes sont écrits pour des humains** ;

* **Il est très important de donner des indications pour faciliter la compréhension du code**.

In [1]:
# Fonction de standardisation d'une variable par calcul des z-scores

def standardisation(variable):
  z_score = (variable - variable.mean()) / variable.std()
  return z_score

## Anatomie générale d'un docstring

In [2]:
def nom_de_la_fonction(argumets):

  """
  Description de ce que la fonction fait
  Description des arguments de la fonction
  Description de la sortie de la fonction
  Description des erreurs possibles
  """
  return None

Les deux (02) principaux styles d'écriture d'un docstring :

* ***Google Style*** ;

* ***Numpydoc***.

## Google Style

In [3]:
def googlestyle_standardisation(variable):
  """Standardisation des valeurs de la variable
  Args:
    variable (pandas serie ou dataframe pandas): les données à standardiser
  
  Returns:
    pandas serie/dataframe: Les valeurs standardisées (Z_scores) de la variable/dataframe

  Raises:
    ValueError: si l'argument 'variable' n'est pas de type pandas series ou dataframe pandas

  Notes:
    Voir Josh (jjjjj@mail_address.com) pour toutes informations complémentaires
  """
  z_score = (variable - variable.mean()) / variable.std()
  return z_score

## Numpydoc

In [4]:
def numpydoc_standardisation(variable):
  """
  Standardisation des valeurs de la variable

  parameters
  -----------
    variable (pandas serie ou dataframe pandas): les données à standardiser
  
  Returns
  --------
    pandas series/dataframe: Les valeurs standardisées (Z_scores) de la variable/dataframe

  Raises
  -------
    ValueError: si l'argument 'variable' n'est pas de type pandas series ou dataframe pandas

  Notes
  ------
    Voir Josh (jjjjj@mail_address.com) pour toutes informations complémentaires
  """
  z_score = (variable - variable.mean()) / variable.std()
  return z_score

## Récupération de la documentation d'une fonction

In [5]:
print(googlestyle_standardisation.__doc__)

Standardisation des valeurs de la variable
  Args:
    variable (pandas serie ou dataframe pandas): les données à standardiser

  Returns:
    pandas serie/dataframe: Les valeurs standardisées (Z_scores) de la variable/dataframe

  Raises:
    ValueError: si l'argument 'variable' n'est pas de type pandas series ou dataframe pandas

  Notes:
    Voir Josh (jjjjj@mail_address.com) pour toutes informations complémentaires

In [6]:
print(numpydoc_standardisation.__doc__)

  Standardisation des valeurs de la variable

  parameters
  -----------
    variable (pandas serie ou dataframe pandas): les données à standardiser

  Returns
  --------
    pandas series/dataframe: Les valeurs standardisées (Z_scores) de la variable/dataframe

  Raises
  -------
    ValueError: si l'argument 'variable' n'est pas de type pandas series ou dataframe pandas

  Notes
  ------
    Voir Josh (jjjjj@mail_address.com) pour toutes informations complémentaires

## Utilisation de la fonction

In [7]:
import pandas as pd

Données sur des espèces de poissons (Source : [Journal of Statistics](http://jse.amstat.org/jse_data_archive.htm))

In [8]:
columns = ['Species', 'Weight', 'Length1', 'Length2', 'Length3', 'Height%', 'Width%', 'Sex']

fishes = pd.read_csv('http://jse.amstat.org/datasets/fishcatch.dat.txt', delimiter= '\s+', header=None, names=columns)

fishes.head()

   Species  Weight  Length1  Length2  Length3  Height%  Width%  Sex
1        1   242.0     23.2     25.4     30.0     38.4    13.4  NaN
2        1   290.0     24.0     26.3     31.2     40.0    13.8  NaN
3        1   340.0     23.9     26.5     31.1     39.8    15.1  NaN
4        1   363.0     26.3     29.0     33.5     38.0    13.3  NaN
5        1   430.0     26.5     29.0     34.0     36.6    15.1  NaN

In [9]:
fishes.drop(columns=['Sex'], inplace=True)

In [10]:
fishes_std = googlestyle_standardisation(fishes)
fishes_std

      Species    Weight   Length1   Length2   Length3   Height%    Width%
1   -1.460503 -0.436373 -0.304825 -0.281414 -0.105686  1.215112 -0.314967
2   -1.460503 -0.302700 -0.224797 -0.197430 -0.002329  1.407857 -0.139094
3   -1.460503 -0.163458 -0.234801 -0.178767 -0.010942  1.383764  0.432492
4   -1.460503 -0.099407  0.005285  0.054522  0.195772  1.166926 -0.358935
5   -1.460503  0.087178  0.025292  0.054522  0.238837  0.998274  0.432492
..        ...       ...       ...       ...       ...       ...       ...
155  1.045468  1.953025  1.275737  1.267624  1.151824  0.046595  0.564397
156  1.045468  1.674541  1.355766  1.360940  1.203502 -0.230476  0.872174
157  1.045468  1.953025  1.385776  1.360940  1.229341 -0.097964  0.960110
158  1.045468  1.674541  1.395780  1.407598  1.272407 -0.110010  1.575665
159  1.045468  1.674541  1.485812  1.454255  1.324085 -0.182290  0.960110

[159 rows x 7 columns]

In [11]:
fishes2_std = numpydoc_standardisation(fishes)
fishes2_std

      Species    Weight   Length1   Length2   Length3   Height%    Width%
1   -1.460503 -0.436373 -0.304825 -0.281414 -0.105686  1.215112 -0.314967
2   -1.460503 -0.302700 -0.224797 -0.197430 -0.002329  1.407857 -0.139094
3   -1.460503 -0.163458 -0.234801 -0.178767 -0.010942  1.383764  0.432492
4   -1.460503 -0.099407  0.005285  0.054522  0.195772  1.166926 -0.358935
5   -1.460503  0.087178  0.025292  0.054522  0.238837  0.998274  0.432492
..        ...       ...       ...       ...       ...       ...       ...
155  1.045468  1.953025  1.275737  1.267624  1.151824  0.046595  0.564397
156  1.045468  1.674541  1.355766  1.360940  1.203502 -0.230476  0.872174
157  1.045468  1.953025  1.385776  1.360940  1.229341 -0.097964  0.960110
158  1.045468  1.674541  1.395780  1.407598  1.272407 -0.110010  1.575665
159  1.045468  1.674541  1.485812  1.454255  1.324085 -0.182290  0.960110

[159 rows x 7 columns]

In [12]:
fishes_std.equals(fishes2_std)

True